.hero-vision {
	padding-top: $padding * 2;
	padding-bottom: $padding * 2;
	color: color(white);
	background-size: cover;
	background-repeat: no-repeat;
	@include transform(translate3d(0, 0, 0));


	@media #{$medium-up} {
		padding-top: $padding * 4;
		padding-bottom: $padding * 4;
		
	}
}
.hero-vision_title {
	padding-bottom: $padding * 2;
	margin-bottom: $padding  * 2;
	font-weight: bold;

	border-bottom: 2px solid color(white);
}