.footer {
    margin-top: $padding * 8;
    margin-bottom: $padding * 4;
    @extend .mt-pad;
    .copyright {
        margin-top: $padding * 1.5;
        color: color(gray);
        font-size: 85%;
        @media #{$medium-up} {
            text-align: center;
        }
    }
}

.address,
.telephone,
.email {
    @extend .m-4-12;
}

.telephone {
    @media #{$medium-up} {
        text-align: center;
    }
}

.email {
    @media #{$medium-up} {
        text-align: right;
    }
}
