.gallery {
	width: 200%;
	max-width: none;
	float: left;
	//background-color: yellow;
	overflow: hidden;
	position: relative;
}
.gallery_outer {
	position: relative;
	width: 100%;
	margin-top: $padding;
	margin-bottom: $padding;
}
.gallery_nav_mask {
	//padding-left: $padding;
	background-color: lighten(color(gray), 30%);
	position: relative;
	//visibility: hidden;
	overflow: hidden;
	position: relative;
}
.gallery_nav_wrapper {
	//width: 5000px;
	height: 100%;
	float: left;
	position: relative; 
	transform: translate3d(0,0,0);
	user-select: none;
	text-size-adjust: none;
	padding-top: $padding * 0.5;
	padding-bottom: $padding * 0.5;

	
	@media #{$medium-up} {
		padding-top: $padding;
		padding-bottom: $padding;
	}
}
.gallery_spinner {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: rem-calc(90);
	z-index: 100;
	text-align: center;
	display: none;

	&.show{
		display: block;
		background-color: color(primary);
	}
}
.gallery_nav_icon {
	@extend h3;
	margin-bottom: 0 !important;
	color: color(primary);
	cursor: pointer;

	.spinner {
		position: absolute;
		top: 50%;
		left: $padding;
		transform: translateY(-50%) translateX(50%);
		padding-right: $padding;

		path {
			fill: color(primary);
		}
	}
}
.gallery_wrapper {
	float: left;
	width: 100%;
	overflow-x: hidden;
}
.gallery_nav {
	//display: none;
	padding-left: $padding;
	width: auto;
	width: 100%;
	height: 100%;
	padding-right: $padding;

	li {
		float: left;
		display: block;
		width: auto;
		height: 100%;
		position: relative;
		transform: translate3d(0,0,0.001);
		//display: inline;
		padding: $padding*0.25 $padding;
		border-radius: rem-calc(20);
		border: rem-calc(2) solid transparent;
		transition: all 0.6s ease-in-out;
		
		a {
			color: color(primary);
			font-weight: 400;
			text-decoration: none;
		}

		&.active {
			border: rem-calc(2) solid color(primary);
			border-radius: rem-calc(20);
		}
	}
}

.nav-controls_left, .nav-controls_right {
	//background-image: linear-gradient(-90deg, rgba(255,255,255,0.00) 25%, #fff 100%);
	background-color: rgba(color(primary), 0.8);
	font-size: rem-calc(80);
	font-weight: 100;
	font-family: 'Helvetica Neue',  Arial;
	line-height: 0.6;
	vertical-align: middle;
	position: absolute;
	top: 0;
	z-index: 5000;
	display: inline-block;
	color: color(white);
	user-select: none;
	cursor: pointer;

	&:hover {
		background-color: darken(rgba(color(primary), 0.8), 5%);
	}

	@media #{$medium-up} {
		font-size: rem-calc(80);
		line-height: 0.9;
	}

	span {
		position: absolute;
		top: 0;

		@media #{$small-only} {
			left: 0;
		}
	}
}
.nav-controls_left {
	span {
		@media #{$medium-up} {
			left: $padding * 0.5;
		}
	}
}
.nav-controls_right {
	span {
		@media #{$medium-up} {
			right: $padding * 0.5;
		}
	}
}

.hidden {
	visibility: hidden;
	opacity: 0;
}
.nav-controls_left {
	top: 0;
	left: 0;
	height: 100%;
	padding-right: $padding * 0.5;
	padding-left: $padding * 0.5;

	@media #{$medium-up} {
		padding-right: $padding;
		padding-left: $padding;
	}
}
.nav-controls_right {
	height: 100%;
	//background-image: linear-gradient(89deg, rgba(255,255,255,0.00) 0%, #fff 75%);
	padding-left: $padding * 0.5;
	padding-right: $padding * 0.5;
	position: absolute;
	left: none;
	right: 0;

	@media #{$medium-up} {
		padding-left: $padding;
		padding-right: $padding;
	}
}

.gallery_sections {
	width: 50%;
	float: left;

	.item {
		@extend .col;
		@extend .l-4-12;
		@extend .s-6-12;
		@extend .m-4-12;
		position: relative;
		overflow: hidden;
		cursor: pointer;

		border-right: rem-calc(4) solid transparent;
		border-bottom: rem-calc(4) solid transparent;
		transform-origin: top left;

		&:hover {
			img {
				transform: scale(1.3);
			}
		}
	}

	img {
		position: relative;
		float: left;
		transition :transform 0.6s ease-in-out;
	}

	.title {
		@extend .text-light;
		position: absolute;
		left: 50%;
		top: 50%;
		color: color(white);
		width: 100%;
		text-align: center;
		transform: translateX(-50%) translateY(-50%) scale(0.8);
	}
}
.gallery_images {
	width: 50%;
	//background-color: red;
	float: left;
	cursor: pointer;

	img {
		flaot: left;
		position: relative;
	}

	.item {
		@extend .col;
		@extend .s-6-12;
		@extend .m-4-12;
		border: rem-calc(2) solid transparent;
		//border-bottom: none;

		@media #{$medium-up} {
			border: rem-calc(4) solid transparent;
		}
	}
}

.lg-slide {
	text-align: center;

	img {
		float: none;
	}

	.caption {
		width: 100%;
		background-color: rgba(color(black), 0.5);
		color: color(white);
		position: absolute;
		bottom: 0;
		left: 0;
		@extend .mt-pad;
		white-space: normal !important;

		h4 {
			color: color(white);
			text-align: center;
			@extend .col;
			@extend .m-6-12;
			@extend .m-offset-3;
			@extend .mt-pad;
			padding-top: $padding;
			padding-bottom: $padding * 3;
		}
	}
}

// Spinner

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
  position: absolute;
  right: $padding;
  top: $padding;
  margin: 0;
  width: rem-calc(50);
  background-color: transparent;
}

.clear {
	clear: both;
}