.gallery_wrapper {
	width: 100%;
	overflow: hidden;
}
.gallery {
	width: 200%;
	max-width: none;
	float: left;
	//background-color: yellow;
	overflow: hidden;
	position: relative;
}
.gallery_nav_mask {
	margin-top: $padding;
	margin-bottom: $padding;
	padding-top: $padding;
	padding-bottom: $padding;
	//padding-left: $padding;
	background-color: lighten(color(gray), 30%);
	position: relative;
	visibility: hidden;
	overflow: hidden;
}
.gallery_nav_wrapper {
	width: 200%;
}
.gallery_nav_icon {
	@extend h3;
	color: color(primary);
	cursor: pointer;
}
.gallery_nav {
	display: none;
	padding-left: $padding;

	li {
		display: inline;
		padding-right: $padding;
		
		a {
			color: color(primary);
			font-weight: 400;
			text-decoration: none;
		}

		&.active {
			border: rem-calc(2) solid color(primary);
			border-radius: rem-calc(20);
			padding: $padding*0.25 $padding;
			margin-right: $padding * 0.5;
		}
	}
}
.gallery_sections {
	width: 50%;
	float: left;

	.item {
		@extend .col;
		@extend .l-4-12;
		@extend .s-6-12;
		@extend .m-4-12;
		position: relative;
		overflow: hidden;
		cursor: pointer;

		border-right: rem-calc(4) solid transparent;
		border-bottom: rem-calc(4) solid transparent;
		transform-origin: top left;

		&:hover {
			img {
				transform: scale(1.3);
			}
		}
	}

	img {
		position: relative;
		float: left;
		transition :transform 0.6s ease-in-out;
	}

	.title {
		@extend .text-light;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		color: color(white);
	}
}
.gallery_images {
	width: 50%;
	//background-color: red;
	float: left;

	img {
		flaot: left;
	}

	.item {
		@extend .col;
		@extend .s-6-12;
		@extend .m-4-12;
		border: rem-calc(2) solid transparent;
		//border-bottom: none;

		@media #{$medium-up} {
			border: rem-calc(4) solid transparent;
		}
	}
}

// Spinner

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
  position: absolute;
  right: $padding;
  top: $padding;
  margin: 0;
  width: rem-calc(50);
  background-color: transparent;
}