.header {
	margin-top: $padding * 0.5;
	margin-bottom: $padding * 0.5;


	@media #{$medium-up} {
		margin-top: $padding * 2;
		margin-bottom: $padding * 2;
	}

	.row {
		position: relative;
	}

	.menu {
		text-align: right;
		font-weight: 600;
		line-height: 3;
		color: color(primary);
		cursor: pointer;
		float: right;

		//Create a large click and hover area for easy target

		padding-top: $padding;
		padding-bottom: $padding;
		margin-top: -$padding;
		margin-bottom: -$padding;


		@media #{$medium-up} {
			text-align: left;
		}

		span {
			float: right;
			font-size: 180%;
			line-height: 1.6;
			margin-left: $padding * 0.5;
		}
	}
	.logo {
		position: absolute;

		//Hide header for SEO
		h1 {
			width: 0;
			height: 0;
			overflow: hidden;
			float: none;
		}

		img {
			@media #{$small-only} {
				max-width: rem-calc(80);
				height: auto;
			}
		}
	}
}
.header_wrapper {
	z-index: 160;
	background-color: color(white);
}
.nav_wrapper {
	position: absolute;
	z-index: 1000;
	float: left;
	width: 100%;
	overflow: hidden;
	visibility: hidden;
	top: $padding;
	@include transform(translate3d(0,0,0.001));
	back-face-visibility: hidden;

	@media #{$medium-up} {
		top: $padding * 5;
	}
}
.nav {
	@extend .container;
	background-color: color(primary);
	padding-top: $padding * 2;
	padding-bottom: $padding * 2;
	color: color(white);
	overflow: hidden;


	@media #{$medium-up} {
		padding-top: $padding * 4;
		padding-bottom: $padding * 4;
	}

	.contact {
		margin-top: $padding * 4;
	}
}
.nav-list {
	font-size: rem-calc(50);
	line-height: 1;
	font-weight: 400;
	position: relative;

	li {
		position: relative;
	}

	@media #{$medium-only} {
		font-size: rem-calc(60);
	}

	@media #{$large-up} {
		font-size: rem-calc(70);
	}

	a {
		text-transform: uppercase;
		color: color(white);
		text-decoration: none;
	}
}