.intro {
	position: relative;
	clear: both;
	padding-top: $padding * 4;

	@media #{$medium-up} {
		padding-top: $padding * 10;
	}

	.row {
		position: relative;
	}

	.button {
		position: absolute;
		bottom: 0;
		left: 0;

		@media #{$medium-only} {
			margin-left: rem-calc(30);
		}
	}
}
.teaser {
	@extend .col;
	@extend .m-10-12;
	@extend .l-7-12;
	@extend .mt-pad;
	float: right;
	margin-top: $padding * 8;

	> div {
		margin-bottom: $padding * 4;
		@media #{$medium-up} {
			width: 48%;
			float: left;
		}

		&:last-child {
			float: right;
		}
	}

	.more {
		font-weight: 400;
	}
}