.list {
	margin-left: $padding;
	margin-bottom: $padding * 2;
}
.list-dash {
	li {
		position: relative;
		
		&:before {
			content: '-';
			padding-right: $padding;
			margin-left: - $padding;
			display: inline-block;
			position: absolute;

		}
	}
}