
// Header elements font settings
$headers: (
	h1: (fontSize: 48, lineHeight: 52, mFontSize: 48, mLineHeight: 52, sFontSize: 36, sLineHeight: 48),
	h2: (fontSize: 36, lineHeight: 43, mFontSize: 30, mLineHeight: 38, sFontSize: 24, sLineHeight: 32),
	h3: (fontSize: 24, lineHeight: 32, mFontSize: 20, mLineHeight: 32, sFontSize: 20, sLineHeight: 28),
	h4: (fontSize: 18, lineHeight: 23, mFontSize: 18, mLineHeight: 23, sFontSize: 16, sLineHeight: 24),
	h5: (fontSize: 16, lineHeight: 26, mFontSize: 16, mLineHeight: 26, sFontSize: 14, sLineHeight: 20),
);


@each $elem, $prop in $headers {
	#{$elem} {
		font-size: rem-calc(m($prop, sFontSize));
		line-height: rem-calc(m($prop, sLineHeight));
		margin-bottom: rem-calc(m($prop, sLineHeight)/2) !important;

		@media #{$medium-up} {
			font-size: rem-calc(m($prop, mFontSize));
			line-height: rem-calc(m($prop, mLineHeight));
			margin-bottom: rem-calc(m($prop, mLineHeight)/2) !important;
		}

		@media #{$large-up} {
			font-size: rem-calc(m($prop, fontSize));
			line-height: rem-calc(m($prop, lineHeight));
			margin-bottom: rem-calc(m($prop, lineHeight)/2) !important;
		}
	}
}
body {
	color: color(black);
}
body, p {
	font-size: $base-font-size-mobile;
	line-height: $base-line-height-mobile;
	font-family: $base-font-family;
	font-weight: 200;
	letter-spacing: 0.1px;

	@media #{$medium-up} {
		font-size: $base-font-size;
		line-height: $base-line-height;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
p {
	margin-bottom: $base-line-height;
}
strong {
	font-weight: 400;
}

// Margin and paddings
// No-margin top
.nmt {
	margin-top: 0;
}
.nmb {
	margin-bottom: 0 !important;
}
.text-center {
	text-align: center;
}
.text-light {
	font-weight: 100;
}

//Change text color to primary color
.c-p {
	color: color(primary);
}

//Link styles
.plain {
	color: color(primary);
	text-decoration: none;

	&:hover {
		color: color(primary, darker);
	}
}