$padding: rem-calc(20);
$grid-columns: 12;

$row-width: 1100;

$font-family-sans-serif: 'helvetica', arial, lato, sans-serif;
$font-family-serif: 'century', serif;
$font-weight-light: 100;
$font-weight-normal: 200;
$font-weight-bold: 400;

$base-font-size: rem-calc(16);
$base-line-height: rem-calc(24);
$base-font-family: $font-family-sans-serif;